upstream balancer{
          {% for host in groups['appservers'] %}
                {% if host != inventory_hostname  %}
server {{ hostvars[host]['ansible_host'] }};
                {% endif %}
          {% endfor %}
           }
